<!-- HEAD 정보 설정할 HTML -->

<!--  
	th는 기존의 html을 효과적으로 대체하는 네임스페이스이다. th:test 프로퍼티와 함께 사용하면 내부에 표현된 #{...} 구문을 실제값으로 대체한다. 
-->

<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!-- HTML Head Tag 정보 Set -->
    <head th:fragment="config">
        <!-- Meta Set -->    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Custom styles for this template-->
        <!-- 
        	@{...}는 타임리프의 기본 링크 표현 구문이다.
        	server-relative URL 방식으로 동일 서버 내의 다른 컨텍스트로 연결해주는 방식으로 
        	서버의 루트 경로를 기준으로 구문에서 경로를 탐색하여 href의 URL을 대체한다.
        -->
        <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}'>
        <!-- Page level plugin CSS-->
        <th:block th:fragment="contentsCss"></th:block>
    </head>
</html>